<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex-Manager</title>

    <link rel="stylesheet" href="/static/css.css">
</head>

<body>
    <nav>
        <h1>
            {{.SessionName}}
        </h1>
    </nav>

    <main>
        {{range .Services}}
        <div class="service">
            <h2>{{.Name}}</h2>
            {{range .Exploits}}
            <div class="exploit">
                <div class="status-line">
                    <span class="name">{{.Name}}</span>
                    <span class="state">{{.State}}</span>
                </div>
                <table class="target-info">
                    <tr>
                        <th>Target</th>
                        <th>Flags Taken</th>
                        <th>Fixed</th>
                    </tr>

                    <tr>
                        <td>localhost</td>
                        <td>0</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>localhost</td>
                        <td>0</td>
                        <td>X</td>
                    </tr>
                    <tr>
                        <td>localhost</td>
                        <td>0</td>
                        <td>X</td>
                    </tr>
                </table>
                <div>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias ipsam quia officiis possimus
                    unde, nemo placeat. Cum, eaque et. Vitae sunt libero hic fuga reiciendis maxime, id aut. Quibusdam,
                    beatae?
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
    </main>
</body>

</html>