<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex-Manager</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css.css">
</head>

<body>
    <nav class="navbar">
        <h1 class="title is-1 navbar-brand mg-medium">
            {{.SessionName}}
        </h1>
    </nav>

    <main class="section has-background-info-light">
        {{range .Services}}
        <div class="service section box">
            <h2 class="title is-2">{{.Name}}</h2>
            {{range .Exploits}}
            <div class="exploit box">
                <div class="status-line level">
                    <span class="name title is-4">{{.Name}}</span>
                    <button class="button is-danger">Stop</button>
                </div>
                <details>
                    <summary class="title is-6 is-clickable m-1">Flags</summary>
                    <table class="target-info table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Target</th>
                                <th>Flags Taken</th>
                                <th>Fixed</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>localhost</td>
                                <td>0</td>
                                <td>X</td>
                            </tr>
                            <tr>
                                <td>localhost</td>
                                <td>0</td>
                                <td>X</td>
                            </tr>
                            <tr>
                                <td>localhost</td>
                                <td>0</td>
                                <td>X</td>
                            </tr>
                        <tbody>
                    </table>
                </details>
            </div>
            {{end}}
        </div>
        {{end}}

        <div id="add-service" class="section box">
            <div class="title is-2 has-text-centered">
                Add new service
            </div>
            <input type="text" class="input mgh-large" name="service-name" placeholder="Service name">
            <button id="add-service-btn" class="is-large button mgh-large">Add Service</button>
        </div>
    </main>
</body>

</html>